<%- include ("../partials/header"); -%>
<style>
    body{
        margin-top:20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }
    .main-body {
        padding: 15px;
    }
    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm>.col, .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }
    .mb-3{
        margin-bottom: 1rem!important;
    }

    .h-100 {
        height: 100%!important;
    }
</style>
</head>
<body>
<%- include ("../partials/navbar"); -%>

<form action="/profile/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
<div class="container mt-5 pt-5">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <div id="circle" class="mx-auto mb-3" style="
                                    height:120px;
                                    width:120px;
                                    border-radius:50%;
                                    background-image: url('/image/<%= user.photo %>');
                                    background-position:center;
                                    background-size:cover;">
                            </div>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-camera"></i></span>
                                <input type="file" class="form-control" id="file" name="file">
                            </div>
                            <div class="mt-3">
                                <h4><%= user.name %></h4>
                                <% if(user.isAssociation){ %>
                                    <input class="form-check-input ms-5" type="radio" value="person" id="person" name="user[isAssociation]">
                                    <label class="form-check-label me-5" for="flexCheckDefault">
                                        Persoana
                                    </label>
                                    <input class="form-check-input" type="radio" value="association" id="association" name="user[isAssociation]" checked>
                                    <label class="form-check-label me-5" for="flexCheckDefault">
                                        Asociatie
                                    </label>
                                <% }else{ %>
                                    <input class="form-check-input ms-5" type="radio" value="person" id="person" name="user[isAssociation]" checked>
                                    <label class="form-check-label me-5" for="flexCheckDefault">
                                        Persoana
                                    </label>
                                    <input class="form-check-input" type="radio" value="association" id="association" name="user[isAssociation]">
                                    <label class="form-check-label me-5" for="flexCheckDefault">
                                        Asociatie
                                    </label>
                                <% } %>
                                <p class="text-muted font-size-sm"><i class="fas fa-map-marker-alt"></i> Loc.<%= user.city %>, Jud.<%= user.county %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg> Website</h6>
                            <input type="text" id="website" name="user[website]" value="<%= user.website %>">
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg> Facebook</h6>
                            <input type="text" id="facebook" name="user[facebook]" value="<%= user.facebook %>">
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg> Instagram</h6>
                            <input type="text" id="instagram" name="user[instagram]" value="<%= user.instagram %>">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nume</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" id="name" name="user[name]" value="<%= user.name %>">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Telefon</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" id="phone" name="user[phone]" value="<%= user.phone %>">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Adresa</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Localitatea <input type="text" class="form-control" id="city" name="user[city]" value="<%= user.city %>">Judet
                                <select class="form-select" id="county" name="user[county]">
                                    <option selected disabled value="">Alege...</option>
                                    <option>Alba</option>
                                    <option>Arad</option>
                                    <option>Argeș</option>
                                    <option>Bacău</option>
                                    <option>Bihor</option>
                                    <option>Bistrița-Năsăud</option>
                                    <option>Botoșani</option>
                                    <option>Brăila</option>
                                    <option>Brașov</option>
                                    <option>Buzău</option>
                                    <option>Călărași</option>
                                    <option>Caraș-Severin</option>
                                    <option>Cluj</option>
                                    <option>Constanța</option>
                                    <option>Covasna</option>
                                    <option>Dâmbovița</option>
                                    <option>Dolj</option>
                                    <option>Galați</option>
                                    <option>Giurgiu</option>
                                    <option>Gorj</option>
                                    <option>Harghita</option>
                                    <option>Hunedoara</option>
                                    <option>Ialomița</option>
                                    <option>Iași</option>
                                    <option>Ilfov</option>
                                    <option>Maramureș</option>
                                    <option>Mehedinți</option>
                                    <option>Mureș</option>
                                    <option>Neamț</option>
                                    <option>Olt</option>
                                    <option>Prahova</option>
                                    <option>Sălaj</option>
                                    <option>Satu Mare</option>
                                    <option>Sibiu</option>
                                    <option>Suceava</option>
                                    <option>Teleorman</option>
                                    <option>Timiș</option>
                                    <option>Tulcea</option>
                                    <option>Vâlcea</option>
                                    <option>Vaslui</option>
                                    <option>Vrancea</option>
                                    <option>Municipiul București</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-success">Salvează!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Statistici</h6>
                                <p class="mb-3"><small>Anunțuri: <%= user.pets.length %></small></p>
                                <small>Salvate</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <% var nrOfSavedPets = 0; user.pets.forEach(function(pet){ if(pet.saved)nrOfSavedPets++})%>
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: <%= nrOfSavedPets/user.pets.length * 100 %>%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>In căutare de stăpân</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: <%= (user.pets.length - nrOfSavedPets)/user.pets.length * 100 %>%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3">Ultimele anunțuri</h6>
                                <% var nrOfShownPosts = 0;%>
                                <% for(var i = user.pets.length - 1; i >=0; i--){%>
                                    <% if(nrOfShownPosts == 2){ %>
                                        <%      break; %>
                                    <% } else{ nrOfShownPosts++ %>
                                    <a style="color: #1a202c; text-decoration: none;" href="/pets/<%= user.pets[i]._id %>">
                                        <div>
                                            <b><%= user.pets[i].name %></b>
                                            <div class="row">
                                                <div class="col-4">
                                                    <b>Specie: </b><small><%= user.pets[i].species %></small>
                                                </div>
                                                <div class="col-4">
                                                    <b>Varsta: </b><small><%= user.pets[i].maturity %></small>
                                                </div>
                                                <div class="col-4">
                                                    <b>Sex: </b><small><%= user.pets[i].gender %></small>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <% }%>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</form>

<%- include ("../partials/footer"); -%>